<%- include ('layout/header') -%>

	<h1><%= content %></h1>
	      

	<div class="row products my-5">
        <% product.forEach(function(pro){ %>
            <div class="col-12 col-md-4 p">
                <a href="/products/detail/<%= pro.link %>" class="pahref">
                    <img src="/product_images/<%= pro._id %>/<%= pro.image %>" alt="" class="pimage">
                </a>
                <h3><%= pro.title %></h3>
                <h4>Rp. <%= pro.price %></h4>
                <a href="/products/detail/<%= pro.link %>" class="pdetail">View details</a>
            </div>
        <% }); %>
    </div>
		  

<%- include ('layout/footer') -%>
